@model EntityLayer.Concrete.Skill
@{
    ViewData["Title"] = "EditSkill";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

@using (Html.BeginForm("EditSkill", "Skill", FormMethod.Post))
{
    <div class="col-md-16 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description"> <code>YETENEK DÜZENLEME</code>  </p>
                <form class="forms-sample">
                    <div class="form-group row">
                        <label for="SkillTitle" class="col-sm-3 col-form-label">Yetenek Adı</label>
                        <div class="col-sm-9">
                            @Html.TextBoxFor(x=>x.Title,new{ @class="form-control"})
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="SkillValue" class="col-sm-3 col-form-label">Değer</label>
                        <div class="col-sm-9">
                          @Html.TextBoxFor(x=>x.Value,new{ @class="form-control"})
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                    <button class="btn btn-dark">İptal</button>
                </form>
            </div>
        </div>
    </div>
}